# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env
.env.*

# Docker
*.pid
*.log
docker-data/
.docker/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build artifacts
dist/
build/
